button, .button{
    width: 100%;
    padding:10px 14px;
    background: #3967D2;
    opacity: 1;
    color:white;
    border: none;
    cursor: pointer;
    
}

a.button{
    text-decoration: none;
}

button:hover, .button:hover{
    background: #3945D2;
}