<app-navigation></app-navigation>
<section class="full-box dashboard-contentPage">

  
  <nav class="full-box dashboard-Navbar">
    <ul class="full-box list-unstyled text-right">
        <li class="pull-left">
            <a class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
        </li>
        <li>
            <a class="btn-exit-system">
                <i class="zmdi zmdi-power"></i>
            </a>
        </li>
    </ul>
  </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Jugadores {{category.NombreCategoria}}</h1>
        </div>
    </div>
    <div class="full-box text-center" style="padding: 30px 10px;">
      <div class="card col-md-3">
        <div class="card-body">
          <h4 class="card-title">Nombre Jugador</h4>
          <a href="" class="button">Ver Jugador</a>
        </div>
      </div>

    </div>
</section>
