<app-navigation></app-navigation>
<section class="full-box dashboard-contentPage">


    <nav class="full-box dashboard-Navbar">
        <ul class="full-box list-unstyled text-right">
            <li class="pull-left">
                <a class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
            </li>
            <li>
                <a (click)="loggout()"  class="btn-exit-system">
                    <i class="zmdi zmdi-power"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Sistema de Gestión Deportiva <small>Manta Fútbol Club</small></h1>
        </div>
        <!-- ESTE TEXTO SE DESACTIVA PARA LOS DIRECTORES TÉCNICOS -->
        <p class="lead" *ngIf="!isAdmin">Total de jugadores dentro del Club, clasificados según su Formativa.</p>
        <!-- ESTE TEXTO SE DESACTIVA PARA LOS ADMINISTRADORES -->
        <p class="lead" *ngIf="isAdmin">Total de jugadores a entrenar dentro del Club, clasificados según su Formativa.</p>
    </div>
    <div class="full-box" style="padding: 30px 10px;">
        <!-- CADA FORMATIVA SE CARGA DE ACUERDO A LOS QUE TENGA EL DIRECTOR TÉCNICO A SU CARGO -->

        <!-- INICIO FORMATIVA SUB 12 -->
        <a href="listadoJugadores.html">
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                Formativa Sub 12
            </div>
            <div class="full-box tile-icon text-center">
                <i class="zmdi zmdi-male-alt"></i>
            </div>
            <div class="full-box tile-number text-titles">
                <!--el 7 referencia al total de jugadores en la Formativa Sub 12
                SI ES USUARIO ADMINISTRADOR CALCULAR EL TOTAL DE JUGADORES POR CADA FORMATIVA
                SI ES UN DIRECTOR TÉCNICO CALCULAR LOS JUGADORES QUE TIENE A CARGO DE ACUERDO A CADA CATEGORÍA-->
                <p class="full-box">7</p>
                <small>JUGADORES</small>
            </div>
        </article>
        </a>
        <!-- FIN FORMATIVA SUB 12 -->
        
        <!-- INICIO FORMATIVA SUB 14 -->
        <a href="listadoJugadores.html">
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                Formativa Sub 14
            </div>
            <div class="full-box tile-icon text-center">
                <i class="zmdi zmdi-male-alt"></i>
            </div>
            <div class="full-box tile-number text-titles">
                <!--el 10 referencia al total de jugadores en la Formativa Sub 14
                SI ES USUARIO ADMINISTRADOR CALCULAR EL TOTAL DE JUGADORES POR CADA FORMATIVA
                SI ES UN DIRECTOR TÉCNICO CALCULAR LOS JUGADORES QUE TIENE A CARGO DE ACUERDO A CADA CATEGORÍA-->
                <p class="full-box">10</p>
                <small>JUGADORES</small>
            </div>
        </article>
        </a>
        <!-- FIN FORMATIVA SUB 14 -->
        
        <!-- INICIO FORMATIVA SUB 16 -->
        <a href="listadoJugadores.html">
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                Formativa Sub 16
            </div>
            <div class="full-box tile-icon text-center">
                <i class="zmdi zmdi-male-alt"></i>
            </div>
            <div class="full-box tile-number text-titles">
                <!--el 70 referencia al total de jugadores en la Formativa Sub 16
                SI ES USUARIO ADMINISTRADOR CALCULAR EL TOTAL DE JUGADORES POR CADA FORMATIVA
                SI ES UN DIRECTOR TÉCNICO CALCULAR LOS JUGADORES QUE TIENE A CARGO DE ACUERDO A CADA CATEGORÍA-->
                <p class="full-box">70</p>
                <small>JUGADORES</small>
            </div>
        </article>
        </a>
        <!-- FIN FORMATIVA SUB 16 -->
        
        <!-- INICIO FORMATIVA SUB 18 -->
        <a href="listadoJugadores.html">
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                Formativa Sub 18
            </div>
        
            <div class="full-box tile-icon text-center">
                <i class="zmdi zmdi-male-alt"></i>
            </div>
            <div class="full-box tile-number text-titles">
                <!--el 70 referencia al total de jugadores en la Formativa Sub 18
                SI ES USUARIO ADMINISTRADOR CALCULAR EL TOTAL DE JUGADORES POR CADA FORMATIVA
                SI ES UN DIRECTOR TÉCNICO CALCULAR LOS JUGADORES QUE TIENE A CARGO DE ACUERDO A CADA CATEGORÍA-->
                <p class="full-box">70</p>
                <small>JUGADORES</small>
            </div>
        </article>
        </a>
        <!-- FIN FORMATIVA SUB 18 -->
    </div>
    <!-- ========== FIN CONTENIDO INTERNO DE LA PÁGINA ========== -->


</section>