<section class="full-box cover dashboard-sideBar">
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
        <!--SideBar Title -->
        <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
            Manta Fútbol Club <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
        </div>
        <!-- SideBar User info -->
        <div class="full-box dashboard-sideBar-UserInfo">
            <figure class="full-box">
                <!-- EN LA SIGUIENTE LÍNEA CARGA LA IMAGEN DE PERFIL DEL USUARIO LOGEADO
                SÓLO CAMBIAR LA RUTA DE DÓNDE SE EXTRAE LA IMAGEN, LA OTRA RUTA MANTENERLA -->
                <img src="./assets/img/user.png" >
                <!-- EN LA SIGUIENTE LÍNEA CARGAN AMBOS NOMBRES DEL USUARIO LOGEADO -->
                <figcaption class="text-center">{{user.Nombre}}</figcaption>
                <!-- EN LA SIGUIENTE LÍNEA CARGAN AMBOS APELLIDOS DEL USUARIO LOGEADO -->
                <figcaption class="text-center">{{user.Apellido}}</figcaption>
            </figure>
            <ul class="full-box list-unstyled text-center">
                <li>
                    <a>
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>
               
            </ul>
        </div>
        <!-- SideBar Menu -->
        <ul class="list-unstyled full-box dashboard-sideBar-Menu">
            
            <li>
                <a [routerLink]="['/panel']">
                    <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
                </a>
            </li>

            <li>
                <a class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-case zmdi-hc-fw"></i> Gestionar<i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
                <ul class="list-unstyled full-box">
                    <li>
                        <a href="administrador.html"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Administradores</a>
                    </li>
                    <li>
                        <a href="directorTecnico.html"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Directores Técnicos</a>
                    </li>						
                </ul>
            </li>
            <li>
                <a class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-run zmdi-hc-fw"></i> Jugadores<i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
                <ul class="list-unstyled full-box">
                    <li *ngFor="let category of categories">
                        <a [routerLink]="['/category/',category.id]"><i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> {{category.NombreCategoria}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="modificarPerfil.html" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-settings zmdi-hc-fw"></i> Modificar mi Perfil
                </a>
            </li>

            <li>
                <a (click)="loggout()" class="btn-sideBar-SubMenu btn-exit-system">
                    <i class="zmdi zmdi-power zmdi-hc-fw"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>

    
</section>
    

